body{
    margin: 0 auto;
}
#mwb-outer-wrapper{
	padding:20px;
	position:relative;
}
#mwb-outer-wrapper #mwb-wrapper { 
   	height: 450px;
   	position: absolute;
   	max-width: 820px;
   	width: 100%;
   	margin:0 auto;
   	content: "";
   	left:0;
   	right: 0;
   background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
}

#mwb-outer-wrapper #mwb-wrapper #mwb-wrap{
   	position: absolute;
	font-family: Helvetica, sans-serif;
	background-position: center;
	display: block;
	width: 100%;
	margin: 0 auto;
	content: "";
	max-width: 780px;
	top: 50%;
	left: 0%;
	right: 0;
	background: linear-gradient(to bottom, #D5DEE7 0%, #E8EBF2 50%, #E2E7ED 100%), linear-gradient(to bottom, rgba(0,0,0,0.02) 50%, rgba(255,255,255,0.02) 61%, rgba(0,0,0,0.02) 73%), linear-gradient(33deg, rgba(255,255,255,0.20) 0%, rgba(0,0,0,0.20) 100%);
 background-blend-mode: normal,color-burn;
	transform: translateY(-50%);
}

/* IMAGE */
#mwb-outer-wrapper #mwb-wrapper #mwb-wrap .mwb-image img{
	height:100px;
	width:100px;
	border:6px double #546E7A;
	border-radius: 50%;
	box-shadow: -3px 5px 20px 10px rgba(0,0,0,0.10);
}


#mwb-outer-wrapper #mwb-wrapper #mwb-wrap .mwb-image{
	position: absolute;
	margin: 0 auto;
	top: 5%;
	left: 50%;
	content: "";
	transform: translateX(-50%);

}

/* TEXT */
#mwb-outer-wrapper #mwb-wrapper #mwb-wrap .mwb-text h2{
	/* font-family: 'Pacifico', cursive; */
	font-weight: bold;
	color:#212121;
	font-size: 30px;
	line-height: 5px;
	padding-top: 120px;
}


#mwb-outer-wrapper #mwb-wrapper #mwb-wrap .mwb-text .mwb-icons i{
	padding: 10px 10px;
	font-size: 24px;
	line-height: 10px;
	color: #212121;
}
#mwb-outer-wrapper #mwb-wrapper #mwb-wrap .mwb-text{
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	padding-bottom: 0px;
	text-align: center;
}
#mwb-outer-wrapper #mwb-wrapper #mwb-wrap .mwb-text span{
	color:#546E7A;
}
#mwb-outer-wrapper #mwb-wrapper #mwb-wrap .mwb-text p{
	font-size: 13px;
	color:#546E7A;
}

#mwb-outer-wrapper #mwb-wrapper #mwb-wrap .mwb-text p:last-child{
	font-size: 18px;
	color:#212121;
	padding-top: 0px;
	padding-bottom: 10px;
	padding-right: 20px;
	text-align:center;
	margin-top: 10px;
}
 
#mwb-outer-wrapper #mwb-wrapper #mwb-wrap .mwb-text a{
	color:#212121;
	font-size: 16px;
	line-height: 40px;
	text-decoration: none; 
}

@media only screen and (max-width:920px) {

#mwb-outer-wrapper #mwb-wrapper { 
	max-width:750px;
	height:455px;
}

#mwb-outer-wrapper #mwb-wrapper #mwb-wrap{
	max-width: 710px;

}
#mwb-outer-wrapper #mwb-wrapper #mwb-wrap .mwb-text p:last-child{
	font-size: 17px;
}
#mwb-outer-wrapper #mwb-wrapper #mwb-wrap .mwb-footer li{
	display: inline-block;
	padding-left: 0px;
	padding-right: 5px;
} 
}

@media screen and (max-width:768px) {

#mwb-outer-wrapper{
	padding:20px;
	position:relative;
}
#mwb-outer-wrapper #mwb-wrapper { 
   	height: 550px;
   	max-width: 360px;
}

#mwb-outer-wrapper #mwb-wrapper #mwb-wrap{
	max-width: 300px;
}

/* TEXT */
#mwb-outer-wrapper #mwb-wrapper #mwb-wrap .mwb-text .mwb-icons i{
	font-size: 22px;
}

#mwb-outer-wrapper #mwb-wrapper #mwb-wrap .mwb-text{
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 100px;
	padding-bottom:0px;
	text-align: center;
}
#mwb-outer-wrapper #mwb-wrapper #mwb-wrap .mwb-text p{
	font-size: 13px;
}

#mwb-outer-wrapper #mwb-wrapper #mwb-wrap .mwb-text p:last-child{
	font-size: 16px;
	padding-top: 10px;
	padding-bottom: 0px;
}
#mwb-outer-wrapper #mwb-wrapper #mwb-wrap .mwb-text h2{
 	/* font-family: 'Pacifico', cursive; */
	font-weight: bold;
	color:#000000;
	font-size: 28px;
	line-height: 8px;
	padding-top: 40px;
}

/* FOOTER */
#mwb-outer-wrapper #mwb-wrapper #mwb-wrap .mwb-footer ul{
	padding-left: 5px;
	text-align: justify;
}
#mwb-outer-wrapper #mwb-wrapper #mwb-wrap .mwb-footer li:first-child{
	display: inline-block;
	text-align: left;
	padding-right: 0px;
} 

#mwb-outer-wrapper #mwb-wrapper #mwb-wrap .mwb-footer{
	padding-left: 10px;
	padding-bottom: 10px;
}

#mwb-outer-wrapper #mwb-wrapper #mwb-wrap .mwb-footer i{
	padding: 10px 6px;
	font-size: 17px;
	color: #000000
}

#mwb-outer-wrapper #mwb-wrapper #mwb-wrap .mwb-footer a{
	color:#757575;
	font-size: 14px;
	text-decoration: none;
}
